header{`
  height: 100px;
  background-color: gray;
}
footer{
    height: 100px;
    background-color: aquamarine;
}
#text{
    height: 100px;
    background-color: beige;
    text-align: center;
}
p{
    height: 100px;
    background-color: rgb(255, 166, 0);
    text-align: center;
}
div{
    display: flex;
    justify-content: center;
    flex-direction: column;
}