header{
  height: 100px;
  background-color: gray;
}
footer{
    height: 100px;
    background-color: aquamarine;
}
main{
    height: 600px;
}
form{
        margin: 0 auto;
        width: 400px;
        padding: 1em;
        border: 1px solid #ccc;
        border-radius: 1em;
        background-color: rgb(234, 234, 234);
}
#telefone{
   margin-left: 15px;
}
button{
    margin-top: 15px;
}